folders
node_modules
./models/cc.es.300.bin.gz
./models/cc.es.300.bin
./models/cc.es.300.bin.gz
./models/*
./models/cc.es.300.bin.gz

models/cc.es.300.bin.gz
models/cc.es.300.bin
models/cc.es.300.bin.gz
models/*
models/cc.es.300.bin.gz
